.hidden {
  display: none;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.form {
  width: 500px;
  border: 1px solid black;
  padding: 15px;
}
.form__title {
  text-align: center;
  margin-bottom: 15px;
}
.select__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.form__btns {
  display: flex;
  justify-content: center;
  column-gap: 15px;
  margin-top: 30px;
}
.select__row select {
  width: 250px;
}
.select__row input {
  width: 250px;
}
